.bank{
    margin: 10px 210px;
    border: 2px solid black;
    height: 300px;
    width: 700px;
    background-color: burlywood;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    font-size: 25px;
    color: brown;
}
button{
    display: inline;
    background-color: brown;
    padding: 5px 10px;
    margin: 5px 10px;
    color: white;
    font-size: 25px;
}