<div class="container">
  <div class="bank">
    <div class="row">
      <h1>Welcome To Bank</h1>
      <div class="details">
        <div class="mb-2 p-2 text-center">
          <button routerLink='account' class="col-3">Add Account</button>
          <button routerLink="payment" class="col-3">Payment</button>
        </div>
        <div class="mt-3 text-center">
          <button routerLink="balance-check" class="col-3">Balance Check</button>
          <!-- <button routerLink="calculate-session" class="col-3">calculate session</button> -->
        </div>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>